body{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between; 
    text-align:center;
    
}
.header .h{
    margin-top: 10px;
    color: aquamarine;
}
.siders{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color:red;
}
.one{
    display: flex;
    flex-wrap:nowrap;
    background-color: lightgrey;
}
.left1{
    flex:1
    
}
.left1 header{
    text-align:center;
}
.writing{
    margin: 40px 100px 40px 40px;
    text-align:center;
}
.right1{
    flex: 2;
}
img{
    width: 330px;
    height: 220px;
}
.two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightyellow;
}
.bars{
    display: flex;
    gap: 20px;
}
div.right1{
    padding: 20px 60px;
}
.two>header{
    text-align: center;
}
.box{
    border-radius: 30px;
    border: 2px solid salmon;
    height: 80px;
    background-color: rebeccapurple;
}
.four{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}
footer{
    padding: 20px;
    text-align: center;
}